
 @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&amp;family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
* {
    text-align: center;
    color: #c2bebec9;
   
    
}

body {
    background: #1f1c1a;
}

#container {

    background: #1f1c1a;
    opacity: 1;
 
}


#header {
    text-align: center;
    margin-top: 47px;
    margin: auto;
    font-size: 39px;
    color: #c2bebec9

}


.center-align {
    text-align: center;
}

p {
    font-family: "Fredoka";
    font-size: 27px;
}

a, a:visited {
    color: #c2bebec9
}

#link, #username, #content, #avatar {
    font-size: 25px;
    background-color: #3a3531;
    width: 75%;
    padding: 20px;
    border: 2px solid #c2bebec9;
}

#btn {
    width: 35%;
    font-size: 25px;
    color: #c2bebec9;
    margin-top: 25px;
    padding: 17px;
    background-color: #4e4f58;
    border: 2px solid #c2bebec9;
}

#btn:hover { 
    background-color: #ffffff;
}

#log {
    text-align: center;
    width: 5%;
    background-color: #c2bebec9;
    color: #c2bebec9;
}
